*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    overflow-x: hidden;
}
#section-404{
    display: flex;
    width:80%;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    height:500px;
}
.left-content{
    flex:4;
}
.right-content{
    flex:6;
    margin-right: 80px;
}
h1{
    font-size: 50px;
}
.left-content h1{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    color: #1d4ed8;
}

.right-content .head-2{
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin-top:5px;
    color: rgb(116, 116, 116);
}
.right-content h1{
    border-left: 2px solid rgb(215, 214, 214);
    padding-left: 30px;
}
.right-content .btn{
    margin-top: 30px;
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.right-content a{
    text-decoration: none;
}
.primary{
    background-color: rgb(82, 52, 253);
    color: #fff;
    margin-left: 30px;
}
.secondary{
    background-color: rgb(199, 199, 251);
    color: blue;
    margin-left: 10px;
}
.right-content .primary:hover{
    background-color: rgb(134, 138, 254);
}
.right-content .secondary:hover{
    background-color: rgb(212, 212, 249);
}
/*Section 404 design ends*/
/*Responsive design design starts*/
@media (max-width:800px){
    .right-content .btn{
        flex: 10;        
    }
    .right-content .primary{
        margin-left: -100px;
    }
}

@media (max-width:600px){
    .left-content{
        margin-left: 40px;
    }
    .right-content{
        padding-right: 40px;
    }
    .right-content .btn{
        padding: 10px 20px;
    }
    .right-content .primary{
        margin-left: -120px;
    }
}

/*Responsive design design ends*/